<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:fragment="header">
      <a class="navbar-brand" href="/">HOME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li th:classappend="${#httpServletRequest.getRequestURI() == '/add_user' ? 'active':''}" class="nav-item" sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link" href="/add_user">USER+<span class="sr-only">(current)</span></a>
          </li>
          <li th:classappend="${#httpServletRequest.getRequestURI() == '/user_list' ? 'active':''}" class="nav-item" sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link" href="/user_list">USER LIST<span class="sr-only">(current)</span></a>
          </li>
          <li th:classappend="${#httpServletRequest.getRequestURI() == '/add_blog_post' ? 'active':''}"  class="nav-item" sec:authorize="hasAuthority('EDITOR')">
            <a class="nav-link" href="/add_blog_post">POST+</a>
          </li>
          <li th:classappend="${#httpServletRequest.getRequestURI() == '/blog_post_list' ? 'active':''}" class="nav-item">
            <a class="nav-link" href="/blog_post_list">POST LIST</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link btn btn-info" href="/logout">Sign out</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0 text-light">
			<div>Welcome Back&nbsp</div><span sec:authentication="name"></span>
        </div>
      </div>
    </nav>
</body>
</html>