.post .title{
	overflow:hidden;
	display:inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.post .author{
	overflow:hidden;
	display:inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}