.user .username{
	width:40%;
	overflow:hidden;
	display:inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.user .other-details{
	width:40%;
	overflow:hidden;
	display:inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.suspended-user{
	
}